<nav class="navbar navbar-default navbar-default">
  <div class="container">
    <a class="navbar-brand" href="#">Discussion Board</a>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="post-list/controversial">Controversial</a></li>
      <li><a routerLink="post-list/hot">Hot</a></li>
      <li><a routerLink="post-list/rising">Rising</a></li>
      <li><a routerLink="post-list/new">New</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>
    {{title}}
  </h1>

  <router-outlet></router-outlet>
  <button class="btn btn-success"(click)="showForm()">Add New Post</button>
  <app-new-post [showNewForm]="showNewForm" (emitPostAdded)="postAdded()"></app-new-post>
</div>
